[2013-12-14 01:19] ehsteve opened #1 "Author names should link to github profiles"
Check out http://www.lostdecadegames.com/blog-author-attribution-using-jekyll/

[2013-12-14 01:19] ehsteve opened #2 "Add a fork me on github link somewhere"

[2013-12-14 01:21] ehsteve opened #3 "Finish and clean up README with instructions"

[2013-12-14 03:50] ehsteve opened #4 "Fix favicon"

[2013-12-17 10:38] dpshelio opened #6 "blogs post directory divided into subdirectories"
I would suggest to have them in a directory structure by yyyy/mm or at least yyyy/

I don't think we are going to have millions of post now... but we may in the future.

[2013-12-17 10:43] dpshelio opened #7 "Comments system for the blog"
In the original site the comments were handled by the wordpress site.  Now, using a static site we have to take a different approach.  I would suggest disquss, but other systems are valid too.  They are easily implemented into jekyll sites.

However, I don't know whether we could import the old comments in the old posts (maybe through copy paste under the blog posts).

[2014-01-08 13:57] dpshelio opened #8 "How to build documentation - when RTD fails"
In case RTD fails I think it would be a good idea to mention in the help page how to build it in our own machine.

[2014-01-08 15:32] ehsteve opened #9 "Refactor CSS so that style is overridden by custom file"
I didn't do it originally because I was lazy. Sorry about that :(

[2014-01-13 15:40] ehsteve opened #10 "Move docs to sunpy.org domain"
See http://read-the-docs.readthedocs.org/en/latest/alternate_domains.html

[2014-01-14 15:12] ehsteve opened #11 "Add link in title bar to Gallery"

[2014-01-15 20:09] #10 closed, assigned to nobody

[2014-01-16 00:10] #9 closed, assigned to nobody

[2014-01-16 00:11] #4 closed, assigned to nobody

[2014-01-23 07:21] dpshelio opened #13 "Too big headings on Mobile"
The heading of the sections is too big on mobile devices

![screen shot 2014-01-05 at 09 16 49](https://f.cloud.github.com/assets/963242/1982502/6741a932-83fe-11e3-93ab-a44f2a1cbc2d.png)

[2014-01-23 09:57] dpshelio opened #14 "Tags for blog posts"
Tags will help a lot the browsing on the posts.  Some solutions are shown [in Stackoverflow](http://stackoverflow.com/questions/1408824/an-easy-way-to-support-tags-in-a-jekyll-blog).  Note that [Jekyll plugins](http://jekyllrb.com/docs/plugins/) are not a solution if we use github build system.

[2014-01-23 20:04] ehsteve opened #15 "link to logo on about page is broken"

[2014-01-23 20:05] ehsteve opened #16 "Add a section in About listing projects which are using sunpy"
Currently should include Helioviewer and http://einstein.physics.drexel.edu/~solarweather/m_index.html
Anyone know of others?

[2014-01-23 20:07] ehsteve opened #17 "Add section in About regarding projects which use Sunpy (sites)"
Should ask them to add a sunpy-powered logo which links to sunpy.org page

[2014-01-24 17:39] #3 closed, assigned to nobody

[2014-01-24 17:39] #2 closed, assigned to nobody

[2014-01-24 17:52] ehsteve opened #19 "Add text in read me which describes requirement for PRs to site"
require a link to a live demo of the site.

[2014-01-24 21:35] derdon opened #20 "text on contribute page misplaced"
See image http://i.imgur.com/9bUtG9J.png

There should be an additional headline and some CSS margin/padding adjustments. the menu bar and the text on the right should start at the same level.

[2014-01-27 02:28] #15 closed, assigned to nobody

[2014-01-29 02:15] #20 closed, assigned to Cadair

[2014-02-07 19:09] khughitt opened #22 "Clarify download options"
Currently the two download options are "Download Release" and "Download Latest".

It's not exactly clear what "Release" means, or at least, it's not very common to see these options together.

Other possible options:

1) "Download latest stable release" and "Download development release"
2) "Stable release" and "Development release"
3) "Download stable release" and "Download nightly version",

etc

[2014-02-14 18:31] derdon opened #25 ""download release" link does not point to stable"
does a stable.zip exist automatically because of the stable branch? otherwise, the link has to be updated after each release.

[2014-02-14 19:20] #25 closed, assigned to nobody

[2014-04-01 16:23] ehsteve opened #28 "Add information about the SunPy organization management structure"
Should list the members of the SunPy board and who is the executive director at the very least. Also a short discussion of SEPs. Links to SEP-001 and SEP-002 should be included so that readers can find more information if they want it.

[2014-04-21 17:23] #28 closed, assigned to ehsteve

[2014-04-21 17:34] ehsteve opened #32 "Move site css template to another repo"

[2014-07-01 14:12] ehsteve opened #39 "Update bootstrap"
[Bootstrap](http://getbootstrap.com) is now ver 3.2. It may be worthwhile to update.

[2014-10-30 13:48] Cadair opened #43 "Provide a link to our GitHUb org / repo from the front page!"

[2015-04-13 16:51] ehsteve opened #44 "Add more information about what features are needed for contributing code section"

[2015-04-13 17:01] dpshelio commented on #44
Something like [what GDL provides](http://aramis.obspm.fr/~coulais/IDL_et_GDL/Matrice_IDLvsGDL.html), though GDL has a more easier purpose in the sense they try to map 1to1 to IDL while we are not doing so with SolarSoft.

[2015-08-03 17:25] ehsteve opened #49 "Update reference link to latest paper"

[2016-07-21 18:24] ehsteve opened #60 "Add information about calendar of events"

[2016-07-24 14:39] #60 closed

[2017-01-03 21:25] ehsteve opened #62 "Fix website display on Safari"
The main content div under the navbar is pushed all the way up so that most of the text is not readable.

[2017-01-04 10:46] Cadair commented on #62
I would offer to fix, but I can't test...

[2017-03-30 14:05] #43 closed

[2017-04-04 16:26] ehsteve commented on #62
Problem no longer exists.

[2017-04-04 16:26] #62 closed

[2017-04-04 16:27] ehsteve commented on #22
No longer applicable.

[2017-04-04 16:27] #22 closed

[2017-04-05 12:35] prateekiiest commented on #49
@ehsteve , where to update?

I hope this link for research papers https://www.zotero.org/groups/sunpy_-_python_for_solar_physicists

[2017-04-07 13:09] nabobalis commented on #39
PR #75 closes this.

[2017-04-07 13:09] nabobalis commented on #11
Well this was closed years ago.

[2017-04-07 13:09] nabobalis commented on #6
PR #75 closes this.  Year only.

[2017-04-07 13:09] #6 closed

[2017-04-07 13:09] #11 closed

[2017-04-07 13:09] #39 closed

[2017-04-14 23:27] souravc4 commented on #13
@nabobalis this can be closed now.

[2017-04-22 21:07] dpshelio opened #86 "Add numfocus logo to website"
[Now](https://www.numfocus.org/blog/numfocus-welcomes-sunpy-our-newest-fiscally-sponsored-project/) that we are sponsored by NumFOCUS we can add the logo (and the donate button) to the website.
As for example like [astropy](http://www.astropy.org/about.html), [quantecon](https://quantecon.org/) or [fenicsproject](https://fenicsproject.org/)

[2017-04-29 06:34] prateekiiest opened #91 "Sunpy Documentation Link Showing Privacy Error"
The Docs link on the website http://sunpy.org/help/ help page doesn't lead to the page.
Also link for `code reference` and `guides` links to a privacy error.
Possibly due to `https:` instead of `http:`

[2017-04-29 06:35] prateekiiest commented on #91
I am sending a PR for this.

[2017-05-07 11:59] #91 closed

[2017-05-12 07:43] nabobalis commented on #86
Added.

[2017-05-12 07:43] #86 closed

[2017-05-12 07:54] #13 closed

[2017-05-22 07:43] nabobalis commented on #7
Do we even want comments?

[2017-05-22 07:50] nabobalis commented on #8
We will never let RTD fail.

[2017-05-22 07:50] #8 closed

[2017-05-22 15:56] Cadair commented on #7
Yeah I am not sure comments will add a lot.

[2017-05-23 20:07] dpshelio commented on #7
I think comments are an easy way to interact with the community. So I would vote to have them. Probably disquss is the easier and portable (in case we want to change the website).

[2017-05-26 14:26] khughitt opened #93 "Add Open Graph metadata to enable better embedding in external sites"
Adding Open Graph metadata tags is extremely simple and will result in an improved appearance for sunpy.org links shared on sites such as Facebook and LinkedIn.

See section on "Improve content sharing with Open Graph" at https://developer.linkedin.com/docs/share-on-linkedin#

[2017-05-26 14:29] Cadair commented on #93
A wild @khughitt appeared.

[2017-05-26 14:31] nabobalis commented on #93
We can do this. Not sure who on earth shares things on facebook or linkedin. Clearly I am too old and antisocial.

[2017-06-22 18:45] ehsteve opened #94 "Remove reference/comparisons to IDL"
This is mostly on the About page.

[2017-06-22 18:45] ehsteve commented on #94
ping @Cadair @wafels

[2017-06-22 19:25] nabobalis commented on #94
Approve. Any comparison to Solarsoft is a bad idea.

[2017-06-22 20:40] Cadair commented on #94
do not speak it's name.

[2017-07-09 14:30] dpshelio commented on #94
I agree to remove it from the about page... but maybe we need a more thoughtful guide, maybe as a different repository to show how things were done using the unnamed and how it's done now.

[2017-07-09 14:43] Cadair commented on #94
@dpshelio if someone / some people with sufficient knowledge if both wish to do that I would be very happy to read it. Might be best in the docs of the package though.

[2017-07-28 11:29] nabobalis commented on #94
Done for new website

[2017-07-28 11:29] #94 closed

[2017-07-28 11:29] nabobalis commented on #32
Done

[2017-07-28 11:29] #32 closed

[2017-07-28 12:24] nabobalis commented on #7
Done for new site.

[2017-07-28 12:24] #7 closed

[2017-07-28 12:31] nabobalis commented on #16
Do we know any?

[2017-07-28 12:32] nabobalis commented on #16
Ping @Cadair @dpshelio

[2017-07-28 12:32] #49 closed

[2017-07-28 12:33] #17 closed

[2017-07-28 12:52] nabobalis commented on #93
Added a test run of this in the new website.

[2017-08-01 09:01] nabobalis commented on #14
Added to new blog.

[2017-08-01 09:01] #14 closed

[2017-08-01 09:05] nabobalis commented on #44
Already done by #45

[2017-08-01 09:05] #44 closed

[2017-08-02 11:35] nabobalis opened #96 "Newcomers Walkthrough"
Gnome has a semi-interactive setup guide for aspiring new developers to GNOME, [located here.](https://wiki.gnome.org/Newcomers)

This would a nice feature to rip off to getting started with SunPy development that is more interesting than reading some documentation as it currently stands.

[2017-08-02 11:36] nabobalis opened #97 "Intro to SunPy Walkthrough"
Similar to #96, a version that walks through installing and using SunPy would be really nice. It would be similar in content to the brief tour of SunPy in the documentation but again slightly more interactive.

[2017-08-02 15:53] nabobalis commented on #1
Nah.

[2017-08-02 15:53] #1 closed

[2017-08-03 08:28] nabobalis commented on #19
Done for new site.

[2017-08-03 08:28] #19 closed

[2017-08-04 07:50] nabobalis opened #99 "Open Graph information is wrong"
Needs to be set down the road.

[2017-08-04 07:56] nabobalis commented on #16
No one seems to know. So until I get told, I'll close this.

[2017-08-04 07:56] #16 closed

[2017-08-15 18:06] nabobalis commented on #99
Was done.

[2017-08-15 18:07] nabobalis opened #100 "Board Information"
Missing alot of details regarding the people who get picture on the website.

[2018-02-16 09:49] nabobalis opened #112 "Using Sphinx 1.7 renders the sidebar on the homepage."
Issue on theme repo as well.

[2018-02-16 14:24] ehsteve commented on #100
Fixed in #109.

[2018-02-16 14:24] #100 closed

[2018-02-25 20:03] nabobalis opened #114 "Migrate to new Ablog version"

[2018-02-25 20:09] nabobalis opened #115 "Sphinx Interlinks not working"

[2018-04-11 15:33] #112 closed

[2018-04-11 15:33] #114 closed

[2018-04-11 15:33] #115 closed

[2018-05-16 16:29] nabobalis opened #124 "Add Direct Button To Gallery on FrontPage"

[2018-05-16 16:42] nabobalis commented on #124
CALL IT SUNPY EXAMPLES

[2018-05-17 09:14] Cadair opened #126 "Document the fact the website is now deployed using Netlify"

[2018-05-17 09:14] Cadair opened #127 "Change the repo name now we are not using github pages"

[2018-05-17 09:15] Cadair commented on #127
Good idea? Bad Idea? @nabobalis ?

[2018-05-17 09:47] nabobalis commented on #127
That works, we can also remove the second branch.

[2018-05-17 09:47] nabobalis commented on #126
JUst in the readme?

[2018-05-17 10:00] Cadair commented on #127
good point!

[2018-05-17 10:00] Cadair commented on #126
yeah?!

[2018-05-17 10:03] nabobalis commented on #126
Well im not sure where else, unless you want it on the website itself?

[2018-05-17 10:03] nabobalis commented on #126
Also need to somehow fix the previews from netfiy on PRs.

[2018-05-17 10:20] #127 closed, assigned to nobody

[2018-05-17 10:37] #126 closed

[2018-07-20 19:05] wtbarnes opened #130 "Write blog posts in Jupyter notebooks"
I noticed that the blog entries should be formatted as RST. Is there a way to submit a blog entry as a Jupyter notebook and have that automatically rendered? I think there are plugins for doing this on other blogging frameworks, e.g. [pelican](https://github.com/danielfrg/pelican-ipynb). Is there an equivalent plugin we could use? Writing posts in notebooks would make it easier to show off new fea

[2018-07-21 08:13] wtbarnes commented on #130
Jupyter notebooks can be easily convert to RST using,

[code]
and the result actually looks pretty good and only requires minimal changes to get the website to build.

One issue: when images are included in the notebook and the notebook is converted, these images are dumped to a directory. In the website structure, how should these images be included? As a directory in the `posts/<year>` directory

[2018-07-21 10:06] Cadair commented on #130
I agree, we should look into adding this as a feature to ablog.

[2018-07-21 10:07] Cadair commented on #130
Actually, we just use sphinx, so I wonder how easy it would be to integrate ablog with
http://nbsphinx.readthedocs.io/en/0.3.3/

[2018-07-21 10:14] Cadair commented on #130
From a quick browse of the source code, it looks like nbsphinx is a fancy ipynb -> sphinx rst converter. So if we add the ablog post directive to a rst  code cell at the top of the notebook it might just work?!

[2018-07-21 18:34] wtbarnes commented on #130
See #131. I pretty much just works.

[2018-07-21 18:36] wtbarnes commented on #130
One minor problem: ablog treats the `.ipynb_checkpoints` file as a post and as a result renders the post twice. This is really only a problem when you're iterating on notebook. Is there some way to tell ablog to ignore certain files in the `posts` directory?

[2018-07-21 19:09] wtbarnes commented on #130
Ignore my last comment. This is solved by just adding it to `exclude_patterns` in the `conf.py`. Sphinx is nice.

[2018-07-21 20:57] wtbarnes opened #132 "Add links to executable notebooks via Binder"
Once #131 is merged, people can write blog posts as notebooks. It would be cool to take this one step further and provide a link to the notebook on [Binder](https://mybinder.org/) so that people can run the code for the blog entry in their browser as they are reading it.

See the [nbsphinx docs as an example](http://nbsphinx.readthedocs.io/en/0.3.3/prolog-and-epilog.html). I think this should be r

[2018-07-22 10:44] Cadair commented on #132
Oh yes!

[2018-07-22 20:33] #130 closed

[2018-07-23 22:15] #132 closed

[2018-09-25 19:11] nabobalis opened #137 "Add Donate button or something for NumFocus."

[2018-09-27 10:02] Cadair commented on #137
https://sunpy.org/contribute.html#donate

[2018-09-27 10:02] #137 closed

[2018-09-27 10:03] nabobalis commented on #137
I thought we had it but I couldn't find it when I was looking.

On Thu, 27 Sep 2018 at 11:02, Stuart Mumford <notifications@github.com>
wrote:

[2018-11-01 08:04] wtbarnes opened #139 "Convert blogpost on astropy time to a notebook"
Since the webpage now supports notebooks and allows for interactive notebooks via binder, ideally any blog post with code snippets should be in a notebook so that readers can easily run the code themselves.

[2018-12-03 02:29] Cadair opened #140 "Support search across all docs and the site"

[2019-02-27 17:38] nabobalis opened #141 "Change `About me` dropdown to say, `Our Mission`"

[2019-02-27 17:39] nabobalis opened #142 "Add a link to the COC on the about page."
Currently just has a dropbox link but we should also add it to the page.

[2019-02-27 18:38] nabobalis commented on #141
Closed by a PR in the theme repo.

[2019-02-27 18:38] #141 closed

[2019-03-07 16:15] nabobalis opened #144 "Some pages are out of date."
WE SHOULD FIX THIS.

[2019-03-20 07:55] dpshelio opened #145 "Update donation link"
Numfocus is changing the donation platform. All links directing to flipcause will stop working in mid-April. The new link is:

https://numfocus.salsalabs.org/donate-to-sunpy/index.html

I only found it on this repo, but we may also have on some other places.

[2019-03-20 18:54] lisamartin72 commented on #145
Hi there,

I was just going to submit a pull request with the new link from Salsa, but it looks like you are on top of it. : )

Thank you!

Lisa Martin
NumFOCUS.org

[2019-03-20 19:24] #139 closed

[2019-03-20 19:24] #142 closed

[2019-03-20 19:24] #144 closed

[2019-03-20 19:24] #145 closed

[2019-05-23 14:59] Cadair opened #155 "Current Version on home screen is ambiguous"
Current stable version or similar might be a little more accurate

[2019-05-23 15:58] nabobalis commented on #155
Fixed this by mistake.

[2019-05-23 16:00] nabobalis opened #156 "Update for 1.0"
Update front page to add new whats new url and maybe add python 2 version as well.

[2019-05-23 16:04] nabobalis commented on #155
NOT FIXED NEEDS TO BE CHANGED HERE:

https://github.com/sunpy/sunpy-sphinx-theme/blob/master/sunpy_sphinx_theme/sunpy/static/version.js

[2019-05-23 16:04] nabobalis commented on #155
or we should make that return just the version number instead of overwriting the text.

[2019-05-23 16:15] Cadair commented on #155
this seems like a good idea.

[2019-05-24 10:46] #155 closed

[2019-05-24 11:13] nabobalis opened #159 "Front page buttons are misaligned"
They only seem to be misaligned when we use netify otherwise, on circle or locally there are no issues.

[2019-06-01 12:53] Cadair opened #164 "The RSS Feed is very broken"
The links in the feed are just plain wrong.

[2019-06-01 13:05] #156 closed

[2019-06-02 09:32] #164 closed

[2019-08-08 13:43] ehsteve opened #183 "Add a link to the website repo on the rendered website"
The current link goes to the the sunpy repo proper but it would be good to make it easier for people to submit edits to the website itself.

[2019-08-08 13:46] ehsteve opened #184 "Use CSS to create rounded images"
Currently the mugshots on the website require the images themselves to be round with a transparent background in the non-round region. An easier solution is to use CSS to define a rounded border like so.

[code]

[2019-08-12 15:25] Cadair opened #185 "Update NumFOCUS language on the site"
NumFOCUS have requested that we use the following words:

[2019-08-13 11:07] #185 closed

[2019-08-20 13:44] ayshih opened #187 "Responsibility of sub-package maintainers to handle questions/issues?"
Our current list of the responsibilities of the sub-package maintainers (from https://sunpy.org/team#maintainer-list) is:

- Evaluating and soliciting new pull requests...
- Providing material support for open pull requests...
- Maintaining and developing the sub-package roadmap...
- Mentoring the next generation of maintainers and developers.

Curiously (to me), this list is missing two key items

[2019-09-11 14:13] Cadair opened #191 "Website build is broken"
It looks like the rawfiles extension is out of date, we could vendor in https://gist.github.com/troter/3120580

[2019-09-27 10:21] #191 closed

[2019-10-24 14:14] dstansby opened #195 "Add link to Board meeting minutes on website"
It would be nice to have a link to the [meeting minutes](https://github.com/sunpy/sunpy/wiki/Home%3A-Organization-Information#minutes-of-sunpy-board-meetings) on the [project page](https://sunpy.org/team.html#sunpy-board), to increase their visibility.

[2019-10-24 14:20] Cadair commented on #195
:+1:
tbh, the project page needs a tidy up, but this is a good idea.

The index was also out of date, I updated it.

[2019-11-30 15:00] ehsteve opened #196 "Change the SunPy Project tab to expand and add an affiliated package tab and update list to cards"
This would provide more and much needed prominence to affiliated packages.

[2019-11-30 19:22] Cadair commented on #196
I am reluctant to add anything to the top nav bar. We had some discussions about developing a shared top level tree with a lot of the other numfocus projects at the summit, also too many options there would be detrimental.

+1 for the cards and generally changing things around to promote the affiliated packages though.

[2019-12-02 16:41] ehsteve commented on #196
The problem is that we have too much under the easily confusiung heading "SunPy project". Can we have the headings expand out and have sub-headings?

[2019-12-02 22:29] Cadair commented on #196
yeah, we already have that for the documentation heading, so it's certainly possible.

[2019-12-03 23:24] nabobalis commented on #195
Should we go further and move them here?

[2019-12-04 10:25] #195 closed

[2019-12-04 21:17] ehsteve commented on #196
Let's do that then!

[2019-12-05 14:30] iamrajiv opened #201 "remove white spaces around the header image of sunpy.org website"
Currently, `https://sunpy.org/` site has a header image with white spaces around it. The header image is of SunPy logo.

![sunpy](https://user-images.githubusercontent.com/42106787/70243029-dd636280-1797-11ea-9e68-fa925434069c.JPG)

I think the header logo whiteout white spaces as around it will look great. Like this

![1](https://user-images.githubusercontent.com/42106787/70243679-1223e980-1799-1

[2019-12-05 14:31] iamrajiv commented on #201
I want to work on this issue

[2019-12-05 14:35] nabobalis commented on #201
Go ahead.

[2019-12-05 15:33] iamrajiv commented on #201
hey, @nabobalis since after `make html` it creates `_build` folder and inside `_build\html\_static` folder there is `favicon-32.ico` image which is converted by help of  `sunpy_icon.svg` image. I don't know where is code for conversion, I have searched `bootstrap` files but didn't get anything can you help me out with this

[2019-12-05 15:55] nabobalis commented on #201
The code for this conversion is probably in an upstream package and not contained within any SunPy package.

The source for the favicon comes from: https://github.com/sunpy/sunpy-sphinx-theme

[2019-12-06 09:32] iamrajiv commented on #201
yeah @nabobalis source for the favicon and svg come from `sunpy-sphinx-theme` and it is in the `sunpy_sphinx_theme\confy.py` but full conversion code is not there it's only giving the name of the image in which it has to be converted i.e. `favicon-32.ico`
[code]

[2019-12-06 09:41] nabobalis commented on #201
Yeah, the conversion is done by either sphinx or some related package. We don't control that.

Does it even convert the image and just not add it directly?

[2019-12-06 10:08] iamrajiv commented on #201
@nabobalis yeah I think sphinx uses `ImageMagick` extensions to convert the images. It converts the image because there is only one image i.e. `sunpy_icon.svg`. Also in `theme.conf` file of `sunpy-sphinx-theme` its given this
[code]

[2019-12-06 10:14] nabobalis commented on #201
Well the favicon which forms the icon for the tab name is a white background image. So would you not need to change that?

[2019-12-06 10:21] iamrajiv commented on #201
We can't change that because it is generated every time when we `make html` and that `.ico` image is generated by `sunpy_icon.svg` image which is without background. The problem is with conversion package it converts `.svg` to `.ico` but did not maintain the transparent background for `.ico` that's why `favicon-32.ico` has a white background. @nabobalis

[2019-12-06 10:52] nabobalis commented on #201
`html_favicon = os.path.join(html_static_path[0], "img", "favicon-32.ico")` should suggest that it comes not from the svg but from the favicon we have stored in the theme?

[2019-12-08 10:20] iamrajiv commented on #201
I got it thanks @nabobalis

[2019-12-08 10:27] iamrajiv commented on #201
got it thanks @nabobalis

[2019-12-08 10:44] nabobalis commented on #201
So what will you do now?

[2019-12-08 11:13] iamrajiv commented on #201
@nabobalis I have searched a lot but the problem is not with any SunPy packages I think it's related to `sphinx-bootstrap-theme` which has been imported in `sunpy-sphinx-theme` in `sunpy-sphinx-theme\sunpy_sphinx_theme\sunpy\__init__.py` file. What I think is we can manually convert `sunpy_icon.svg` to `.ico` and put it in header image

[2019-12-08 11:16] nabobalis commented on #201
In that case, I will close this issue. Thanks for having a look at this!

[2019-12-08 11:16] #201 closed

[2019-12-09 19:11] iamrajiv commented on #201
sure and thank you for guidance @nabobalis :grinning:

[2019-12-18 21:01] iamrajiv commented on #201
@nabobalis I get to know that there is `sunpy_icon_128x128.png` and `favicon.ico` in folder `SunPy` at `sunpy/docs/logo` directory and I think changing these two files means removing the white background will help to solve this issue. But how to check this locally?

[2019-12-18 21:04] nabobalis commented on #201
You'd have to change those files and rebuild either the website or the documentation.

[2019-12-18 21:08] nabobalis commented on #201
How to do that for the website is in the readme and to build the docs is in the dev guide on the documentation website for sunpy.

[2020-01-11 23:51] Cadair opened #205 "Citation info is broken"
Including sunpy's CITATION.rst isn't working anymore

[2020-01-11 23:55] #205 closed

[2020-01-11 23:55] nabobalis commented on #205
FIXED

[2020-01-14 05:02] mridullpandey opened #207 "code written in testing dependencies under testing framework should be valid"
code for installing testing packages using pip should be  : pip install -e .[tests], instead of "pip intall -e .[tests]".

[2020-01-14 09:11] nabobalis commented on #207
Where is this text?

[2020-01-14 09:41] nabobalis commented on #207
Do you mean this? https://docs.sunpy.org/en/latest/dev_guide/tests.html#testing-dependencies

[2020-01-14 09:41] nabobalis commented on #207
I will fix this now. Thanks for pointing it out.

[2020-01-14 09:41] #207 closed

[2020-01-22 09:14] Cadair commented on #93
Do we still have these tags, I noticed today that the Riot URL previews are a bit rubbish (just the Nav bar) which apparently is linked to this.

[2020-02-02 18:17] samaloney opened #208 "Links ndcube and drms documentation are broken"
Link urls seem to be missing `/en/latest` at the end?

[2020-02-04 10:09] Cadair commented on #208
They are actually just missing a `/` which feels like a RTD bug, but is easy to fix in the sphinx theme.

[2020-02-19 22:41] Cadair opened #209 "Add an image credit for the background image"
its a NASA SDO/AIA image

[2020-02-25 16:21] Saurav80 commented on #209
If we replace the exisiting background image by the same image but having a image credit logo like this. @Cadair

[2020-02-25 16:42] Cadair commented on #209
the credit could just be in the text somewhere, it doesn't have to be a watermark.

[2020-02-25 17:11] Saurav80 commented on #209
![sunpy_bg](https://user-images.githubusercontent.com/42805104/75270003-da6c9100-581f-11ea-9871-eba0a0077ee3.png)
@Cadair may be like

[2020-02-25 17:14] Saurav80 commented on #209
![sunpy_bg](https://user-images.githubusercontent.com/42805104/75270122-09830280-5820-11ea-9c9c-ad31ba29db49.png)
@Cadair may it work

[2020-03-13 05:55] wtbarnes opened #210 "Citation information is stale"
Even though we've updated the citation info in [sunpy/sunpy/CITATION.rst](https://github.com/sunpy/sunpy/blob/master/sunpy/CITATION.rst) with the most recent ApJ and JOSS papers, the [old citation entry](https://sunpy.org/about#acknowledging-or-citing-sunpy) is still showing up on the rendered webpage. Not sure why that is...

[2020-03-13 09:39] nabobalis commented on #210
Did we rebuild the website since we updated it?

[2020-03-13 10:41] Cadair commented on #210
[code]

The new CITATION file has broken the build :man_facepalming:

[2020-03-13 10:53] nabobalis commented on #210
We should make error if that happens.

[2020-03-13 10:55] Cadair commented on #210
the build does error, it is just not a PR to the site, so we never saw it.

[2020-03-13 10:56] nabobalis commented on #210
We should make it email someone.

[2020-03-13 11:03] #210 closed

[2020-03-21 22:01] hjs653 opened #211 "Issue with Web navigation on cellphone"
While I on the sunpy.org website in developer tools, I switched the "Toggle Device" to IPhoneX to see what it would look like in that format.  When I switched, I noticed several issues: The drop down menu was a hidden in the top right corner (it is just a outlined box), the dimensions of the page were not formatted to the screen (so I had to zoom out to see the whole webpage), and the only submenu

[2020-03-23 19:43] Cadair commented on #211
Oh yeah, something has broken :disappointed:

As this is also an issue for the documentation pages, I am going to move it to the theme repo.

Thanks for the report!

[2020-04-06 17:32] mbobra opened #214 "Affiliated Package Review Process"
The following is a draft design for an affiliated package review process written during the [2020 SunPy Coordination Meeting](https://github.com/sunpy/sunpy/wiki/Coordination-Meeting-2020-Notes) hack days (April 2 and April 3) by @ayshih @Cadair @DanRyanIrish @dpshelio @dstansby @ehsteve @hayesla @mbobra @nabobalis @samaloney and @wtbarnes.

## Affiliated Package Review Process

## ToDo

To get fi

[2020-04-08 00:26] ehsteve commented on #214
Thank you @mbobra! I would suggest that this be moved to an actual PR that way we can comment on individual lines of text.

[2020-04-17 16:49] mbobra commented on #214
Sounds good, I will move it to a PR to the website after we hack on it a bit more during the PyAstro20 hack days on April 23 and 24.

[2020-04-23 16:20] Cadair commented on #214
Todo:

- [ ] Write a github issue template for new package submissions
- [ ] Decide on layout for accepted packages on site.
- [ ] Write up docs for review process

[2020-04-24 10:39] Cadair opened #216 "Submit NDCube for Review as An Affiliated Package"
## Package Details

- Package name: NDCube
- Maintainer(s): Dan Ryan, Stuart Mumford
- Repository: https://github.com/sunpy/ndcube
- PyPI link: https://pypi.org/project/ndcube/

## Description of Package

NDCube is a general package for representing coordinate aware datasets. Built on Astropy and SunPy it provides users an easy to understand interface while keeping array data and coordinate data t

[2020-04-24 10:41] Cadair commented on #216
(I am submitting this, and also acting as editor as a demonstration of the system. [The Affiliated package liaison is the editor for this, but we don't have one so it's my job]).

[2020-04-24 10:43] Cadair commented on #216
@SolarDrew Would you be able to review this submission?

[2020-04-24 19:47] SolarDrew commented on #216
* Relevant and Useful Functionality    : General Package
* Make use of all appropriate features : Well integrated
* Documentation                        : Extensive
* Testing                              : Good
* Duplication                          : Excellent
* Community Engagement                 : Excellent
* Maturity and Development Status      : Excellent

Note that I've only not given excel

[2020-04-29 08:07] Cadair commented on #216
<author hat>

Did you look at the coverage for master or for the current release branch? Master is currently undergoing a massive rewrite so the test coverage for the Sequence plotting is almost non-existent as we haven't rewritten the code yet.

The coverage for the latest release is 95% https://codecov.io/gh/sunpy/ndcube/tree/fc69634a34dec246008652815b3c308e4e3325d2/ndcube

[2020-04-29 12:42] SolarDrew commented on #216
Ah ok. Yes I was looking at the coverage on master but if the release coverage is much higher then I'm happy to take that and upgrade the score for that.

[2020-04-29 12:44] SolarDrew commented on #216
* Relevant and Useful Functionality    : General Package
* Make use of all appropriate features : Well integrated
* Documentation                                  : Extensive
* Testing                                               : Excellent
* Duplication                                         : Excellent
* Community Engagement                   : Excellent
* Maturity and Development Status

[2020-04-29 13:47] Cadair commented on #216
`<editor hat>`

Thanks for the review @SolarDrew :smile:

Based on the review, NDCube will be accepted and added to the page, either @Cadair or I can open the PR to add it to the website :rofl:

[2020-04-30 08:44] Cadair opened #218 "Submit drms for Review as an Affiliated Package"
## Package Details

- Package name: drms
- Maintainer(s): Kolja Glogowski
- Repository: https://github.com/sunpy/drms
- PyPI link (if applicable): https://pypi.org/project/drms

## Description of Package

The drms module provides an easy-to-use interface for accessing HMI, AIA and MDI data with Python. It uses the publicly accessible JSOC DRMS server by default, but can also be used with local Net

[2020-04-30 08:46] Cadair opened #219 "Submit radiospectra for review as an Affiliated Package"
## Package Details

- Package name: radiospectra
- Maintainer(s): David Pérez-Suárez
- Repository: https://github.com/sunpy/radiospectra
- PyPI link (if applicable): https://pypi.org/project/radiospectra/

## Description of Package
This package aims to provide support for some types of radiospectra on solar physics.

## Package Review

## Editor Submission Checklist

- [x] Is the submission approp

[2020-04-30 09:39] Cadair commented on #219
@dstansby would you be up for giving this a review please?

[2020-04-30 14:58] wtbarnes opened #220 "Submit aiapy for review as an Affiliated Package"
## Package Details

- Package name: aiapy
- Maintainer(s): Will Barnes, Mark Cheung
- Repository: https://gitlab.com/LMSAL_HUB/aia_hub/aiapy
- PyPI link (if applicable): https://pypi.org/project/aiapy/

## Description of Package

aiapy is a Python package for analyzing data from the Atmospheric Imaging
Assembly (AIA) instrument onboard NASA's Solar Dynamics Observatory
spacecraft.

## Package Revi

[2020-05-01 08:37] Cadair commented on #220
@nabobalis Would you be able to review this for me?

[2020-05-01 08:38] nabobalis commented on #220
10/10 would aiapy again.

[2020-05-01 08:38] #216 closed

[2020-05-01 08:44] Cadair commented on #218
@samaloney Would you be able to review this for me? :grin:

[2020-05-01 10:14] nabobalis opened #221 "Submit sunkit-image for review as an Affiliated Package"
## Package Details

- Package name: sunkit-image
- Maintainer(s): No one
- Repository: https://github.com/sunpy/sunkit-image
- PyPI link (if applicable): https://pypi.org/project/sunkit-image/

## Description of Package

sunkit-image is a a open-source toolbox for solar physics image processing. Currently it is experimental library for various solar physics specific image processing routines.

##

[2020-05-01 10:16] nabobalis opened #222 "Submit pyflct for review as an Affiliated Package"
## Package Details

- Package name: pyflct
- Maintainer(s): No one
- Repository: https://github.com/sunpy/pyflct
- PyPI link (if applicable): https://pypi.org/project/pyflct/

## Description of Package

A Python wrapper for Fourier Local Correlation Tracking.

## Package Review

## Editor Submission Checklist

- [x] Is the submission appropriate?
- [x] Does the project have an appropriate license?

[2020-05-01 12:33] dstansby opened #223 "Submit pfsspy to be an affliated package"
## Package Details

- Package name: pfsspy
- Maintainer(s): David Stansby
- Repository: https://github.com/dstansby/pfsspy
- PyPI link (if applicable): https://pypi.org/project/pfsspy/

## Description of Package

A python Potential Field Source Surface model package.

## Package Review

## Editor Submission Checklist

- [x] Is the submission appropriate (compatible with the SunPy CoC)?
- [x] Does

[2020-05-01 13:39] Cadair commented on #223
@wtbarnes Could you review this one? :grin:

[2020-05-01 13:52] Cadair commented on #222
@ayshih would you be able to review this?

[2020-05-01 13:53] ayshih commented on #222
Will do

[2020-05-01 19:31] nabobalis commented on #220
* Functionality           : Specialized Package
* Integration             : Well integrated
* Documentation           : Extensive
* Testing                 : Good (seems to have most functions covered)
* Duplication             : None (I wasn't able to see any)
* Community               :  Good (This is hard to judge)
* Development Status      : Rapid Development (I assume)

[2020-05-01 21:54] hayesla commented on #221
* **Functionality**           : General Package
The functionality can be used by many in the solar physics community that use image data

* **Integration**            : Well integrated
However lots of room to be further integrated - with further use of sunpy.map.Map and coordinates especially in coronal loops tracing in `sunkit_image.trace`

* **Documentation**           :  Some
Some - more needed

[2020-05-02 14:40] samaloney commented on #218
* Relevant and Useful Functionality    : General Package
* Make use of all appropriate features : Well integrated
* Documentation                        : Extensive
* Testing                              : Good
* Duplication                          : Excellent
* Community Engagement                 : Excellent
* Maturity and Development Status      : Excellent

Testing is marked as good because a

[2020-05-05 09:41] Cadair opened #224 "Release Announcements etc for 2.0"
(Opening against the website repo to cover various different things).

The following is a list of "major events" in the sunpy family around the 2.0 release. Not sure exactly how we want to take this list and turn it into things to shout about but:

# SunPy 2.0

This is the second LTS (supported for 1 year) release of SunPy, the "What's New" is in progress here: sunpy/sunpy#4040.

# Affiliated Pack

[2020-05-05 09:42] Cadair commented on #224
@drsophiemurray Have you got thoughts on what we want to do about all this :grin:

[2020-05-05 09:51] Cadair opened #225 "Submit sunraster to be included as an affiliated package"
## Package Details

- Package name: suntraster
- Maintainer(s): Dan Ryan
- Repository: https://github.com/sunpy/sunraster
- PyPI link (if applicable): https://pypi.org/project/sunraster/
- Documentation link (if applicable): https://docs.sunpy.org/projects/sunraster/
- Continuous integration link(s) (if applicable): https://dev.azure.com/sunpy/sunraster/ & https://circleci.com/gh/sunpy/sunraster/

[2020-05-05 10:22] drsophiemurray commented on #224
Should definitely advertise widely on the usual mailing lists and social media. Theres a few extra I have in mind too that I haven't seen used before. Advertise but also highlight how people can ask questions and get involved!

I think we could also get a nice series of blog posts out about this. One announcing 2.0 obviously but then we can showcase each of the packages, and finish with a 'how-to'

[2020-05-05 12:56] Cadair commented on #218
Thanks for the review @samaloney.

I am adding the review to #215 :rocket:

[2020-05-05 12:56] #218 closed

[2020-05-05 13:34] ayshih commented on #222
* **Functionality:** Specialized Package ![img](https://img.shields.io/badge/Functionality-Specialized_Package-brightgreen.svg)
This package is useful for those specific folks who need to perform Fourier local correlation tracking (FLCT).

* **Integration:** Minimal Integration ![img](https://img.shields.io/badge/Integration-Minimal_Integration-red.svg)
There is essentially no integration at all i

[2020-05-05 13:40] Cadair commented on #222
this is no longer accurate as of last night. https://pypi.org/project/pyflct/0.1/ :grinning:

This is interesting, and potentially a bug in the review criteria. In my mind this isn't a reason for a package to not get a passing grade. For instance `drms` has no real dependence on the rest of the sunpy ecosystem, but it's obviously still relevant and useful, it just lives at the bottom of the stack.

[2020-05-05 13:48] ayshih commented on #222
Ha!  I checked the GitHub repo this morning before I submitted the report, but I think my web browser showed me a cached version.

I agree, and I even checked the `drms` review to see what the reviewer said.  Of course, `sunpy` depends on `drms`, so it's integrated in that sense.  There's no integration either way with `pyflct`

[2020-05-05 14:05] Cadair commented on #222
I think this is true. I don't know if @nabobalis has thought about this, but this was originally in sunkit-image (removed for licencing issues) and I think there is scope for scikit-image (or maybe just in pyflct) to add higher level functions, i.e. to take in ndcube / map objects and return velocity cubes.

I wonder what peoples opinions on if this should be red, (i.e. should this package be prov

[2020-05-05 14:06] nabobalis commented on #222
I've not but it is a good idea to increase integration with sunpy/ndcube.

[2020-05-05 14:17] dstansby commented on #222
I would say red. The main function (https://pyflct.readthedocs.io/en/latest/api/pyflct.flct.html#pyflct.flct) definitely has scope to take two `GenericMap` and return `GenericMap`. If it is intended to be general purpose (ie. only work with arrays) then I don't think it's appropriate to be a SunPy affiliated package.

I also note that this has no maintainer listed, and I think having a maintainer

[2020-05-05 14:27] ayshih commented on #222
Interesting.  So if something like `sunkit-image` implemented Map-aware FLCT with `pyflct` as a dependency, `pyflct` wouldn't be rated as well integrated, but `sunkit-image` would be?

[2020-05-05 14:30] ayshih commented on #222
I assumed that @nabobalis was the maintainer.  If this is truly maintainer-less, I ought to downgrade my rating for "Development Status".

[2020-05-05 14:36] dstansby commented on #222
I would say yes - as far as I can see `pyflct` is a general-purpose image processing technique, whereas sunkit-image in the example given would provide the user-facing interface through which it can be applied to solar data.

[2020-05-05 14:48] Cadair commented on #222
This is under the sunpy org because it's a useful output of a GSOC project, if @nabobalis doesn't want to look after it I will be listed as the maintainer.

[2020-05-05 14:54] Cadair commented on #222
Should this exclude it from being sunpy affiliated? I can kinda see both sides of this, it definitely fits in the "functionality" criteria, this is useful to solar physicists. On the other hand maybe it would be better to not implement solar specific functionality in `pyflct` and it would be better to do that in `sunkit-image` (as `sunkit-image` builds on `scikit-image` it could build on `pyflct`)

[2020-05-05 15:03] Cadair commented on #225
@dstansby can you review this? :smiley:

[2020-05-05 15:29] dstansby commented on #225
👍  - I will do the review once the review guidelines are finalised and merged

[2020-05-05 17:04] nabobalis commented on #222
I just don't want to keep adding to my list of package that I look after but officially don't maintain.
If bug reports or changes need to be made on them, I will make them or accept PRs and do releases. But as things stand I already look after a ton of low priority/volume packages and I keep seeming to increase that list.

[2020-05-05 17:05] Cadair commented on #222
Is your issue that the list is too long or that you don't "officially" look after them?

[2020-05-05 17:10] nabobalis commented on #222
The first one and I also don't want to officially look after them but right now there is no one else.

[2020-05-05 18:18] ayshih commented on #222
Still not relevant to the affiliated-package discussion, but:

While reasonable people will debate how GPL works with respect to imported Python libraries, I think an appreciable fraction would say that the intent of GPL is that if `sunkit-image` ever has critical functionality (i.e., the functionality is a fundamental part of the project) that has a hard dependence on importing `pyflct` (i.e., th

[2020-05-05 18:19] dpshelio commented on #224
Do we want also to use this announcement to remember that we are looking to contract someone? (or so it says in the latest Numfocus newsletter).

[2020-05-05 18:40] ayshih commented on #222
Still still not relevant to the affiliated-package discussion, but:

On the `fftw` website (http://www.fftw.org/faq/section1.html#isfftwfree), they say that it is possible to purchase a non-free, unlimited-use license.  That could be an avenue to relicensing everything under LGPL.

[2020-05-06 01:29] ayshih commented on #222
I created an issue on `pyflct`'s repo to discuss the license: https://github.com/sunpy/pyflct/issues/11

[2020-05-06 07:17] wtbarnes commented on #223
* **Functionality:** Specialized Package ![img](https://img.shields.io/badge/Functionality-Specialized_Package-brightgreen.svg)
This package is useful to anyone who wants to do magnetic modeling using a potential field source surface model, a very common technique in solar physics. I say this is a specialized package not because it appeals to only a few in the community, but because the scope is r

[2020-05-06 11:01] Cadair commented on #223
for the record, solarbextrapolation has been shutdown and archived. It is dead Dave.

[2020-05-06 14:28] wtbarnes commented on #223
Ha very true. I think I meant to write something more like archived. My sleepy brain disagreed

[2020-05-06 14:52] ayshih commented on #222
I revised my report per the updated criteria descriptions.

[2020-05-06 18:21] wtbarnes opened #226 "Blog post demonstrating aiapy and sunpy"
We should write a blog post that demonstrates the new aiapy package and how it works with sunpy. This will be in concert with the 2.0 release, ideally following it by a few days, as well as the new affiliated package process.

I think ideally this would be coauthored by @fluxtransport and myself and would serve to introduce to the aiapy package and make people aware that the "aiaprep" functionalit

[2020-05-06 19:01] Cadair commented on #225
They are now merged.

[2020-05-06 19:03] Cadair commented on #221
@hayesla given the changes to the Integration section before the merge of the guidelines (and the text of your review) would you like to take another look at that or are you happy with it as it is?

[2020-05-06 19:03] Cadair commented on #221
Also maybe docs as well given that got an extra tier.

[2020-05-06 19:12] Cadair commented on #220
@wtbarnes / @nabobalis I can't see a reference to a Code of Conduct anywhere in the aiapy docs or repo. Am I missing it? (it's a requirement for the community section)

[2020-05-06 19:16] Cadair opened #227 "Contrast on the affiliated packages green shields is poor"
I am not sure there is a good way out of this one, but white on "green" is bad.

[2020-05-06 19:16] nabobalis commented on #220
I probably missed it.

[2020-05-06 19:33] wtbarnes commented on #220
Oops 😬

[2020-05-06 19:35] hayesla commented on #221
I would potentially change the Integration to Partial Integration tag. And Documentation I would change to Good.

[2020-05-06 19:35] wtbarnes commented on #223
It looks like pfsspy does not have a code of conduct which is a requirement for the community section. Did I just miss this @dstansby?

[2020-05-06 19:39] Cadair commented on #221
ooi what things do you see that could be more integrated? We should open issues for them :grinning:

[2020-05-06 19:39] wtbarnes commented on #220
https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/merge_requests/64

[2020-05-06 19:50] Cadair commented on #223
There is this section in the readme: https://github.com/dstansby/pfsspy#code-of-conduct which references the sunpy one, which is enough. Might be good for @dstansby to add it to the docs as well, but it's enough I think?

[2020-05-06 19:59] wtbarnes commented on #220
the pycodestyle test is complaining about formatting in the CoC file 🤣

[2020-05-06 20:08] mbobra commented on #214
Addressed by #215

[2020-05-06 20:08] #214 closed

[2020-05-06 21:11] dstansby commented on #225
* Functionality           : Specialized Package
* Integration             : Well integrated
Builds well on NDCube, uses `astropy.units` where appropriate
* Documentation           :  Some
Good API documentation exists, but currently lacking an example gallery/tutorials that explain how the classes and functions could be used in real-world scientific applications.
* Testing                 :  Good

[2020-05-06 21:13] dstansby commented on #223
Yes, I added that yesterday so it may have been just before your review or not obvious. I will add it to the docs in time for the next stable release.

[2020-05-06 21:23] wtbarnes commented on #223
Yep, I'm totally ok with that 👍

[2020-05-12 16:41] pllim commented on #227
GitHub does it too... 🤷

[2020-06-01 14:26] hayesla opened #230 "Affiliated package review criteria summary confusing"
In the review criteria we say

Accepted | Must have a green score in the Relevant and Useful criteria and at least one other. They must also have no red scores.
-- | --

However there are no **Relevant** and **Useful** criteria?

Should this just be **Functionality**?

[2020-06-01 14:40] Cadair commented on #230
looks like it

[2020-06-01 14:45] ayshih commented on #230
Just because I can, here's my comment from the PR:

_Originally posted by @ayshih in https://github.com/sunpy/sunpy.org/pull/215#discussion_r418003388

[2020-06-01 14:48] hayesla commented on #230
Ok, should it just be **Functionality** then? I'll make a PR after PyHC call

[2020-06-01 14:49] Cadair commented on #230
I thought I fixed this before I merged it, but clearly didn't.

[2020-06-01 18:06] wtbarnes commented on #230
Fixed by #231

[2020-06-01 18:06] #230 closed

[2020-06-04 14:55] nabobalis commented on #219
@dstansby do you have some time to do this?

[2020-06-04 17:26] nabobalis commented on #219
Actually @dstansby, I will review it now, you can do more important things.

[2020-06-04 17:28] #159 closed

[2020-06-04 17:32] nabobalis commented on #93
We have

[code]
in our page source

[2020-06-04 17:36] #196 closed

[2020-06-04 17:36] #183 closed

[2020-06-04 17:51] nabobalis commented on #219
* **Functionality:** General Package ![img](https://img.shields.io/badge/General_Package-brightgreen.svg)

This package might be useful to anyone who wants to use spectra, which is a common type of data in solar physics.

* **Integration:** None ![img](https://img.shields.io/badge/Integration-Well_Integrated-brightgreen.svg)

Since this is old code removed from sunpy before 1.0, it has not seen an

[2020-06-05 09:36] #219 closed

[2020-06-05 09:36] #220 closed

[2020-06-05 09:36] #221 closed

[2020-06-05 09:36] #222 closed

[2020-06-05 09:36] #225 closed

[2020-06-05 09:37] #223 closed

[2020-07-30 13:40] dstansby opened #237 "sunpy logo link broken"
The link to "sunpy logo" here: https://sunpy.org/about#acknowledging-sunpy-in-posters-and-talks just redirects to the same page instead of a logo.

[2020-08-26 16:51] Raahul-Singh opened #239 "Add pythia as an affiliated package!"
[Pythia](https://github.com/Raahul-Singh/pythia) has grown beyond the original scope of the GSoC project. Now, we are planning on making it into a general Deep Learning project for Solar Physics.

The generalisation is in progress and I will add some usage examples soon!

## Package Details

- Package name: Pythia
- Maintainer(s): Raahul Singh
- Repository: [pythia](https://github.com/Raahul-Singh

[2020-08-26 16:59] hayesla commented on #239
Cool - do you want to fill in the template information here?

[2020-08-26 16:59] Raahul-Singh commented on #239
Yep let me just do that

[2020-08-26 17:30] hayesla commented on #239
Great thanks for updating @Raahul-Singh !

[2020-09-08 18:34] wtbarnes opened #242 "Explicitly state policy on reevaluation of affiliated packages"
Given the debacle of #240, we need a policy regarding how affiliated package maintainers can request a reevaluation of their package. For example, if the documentation or testing has dramatically improved on a timescale shorter than 1 year (the interval over which the package would automatically be reevaluated), the developers may wish for the package to be reevaluated in those categories.

Curren

[2020-09-08 18:44] Cadair commented on #242
A quick bunch of things I have thought of without thinking too hard:

- Would the review be scoped tightly to the request, or could the reviewer change any rating (up or down)? What if a different reviewer disagrees with the original one?

- How easy should we make this process? Depending on how often this might happen it could quite substantially increase the workload on reviewers and editors.

[2020-09-08 21:03] dstansby commented on #242
Being able to request re-evaluation, with supporting evidence provided with the request, seems a good policy. I think the review should be tightly scoped to the request.

"If reviewers disagree" is a problem with the normal system anyway, so not sure that's relevant.
Hopefully in practice if someone is submitting a review request the rating won't go down...

The burden should be on the person requ

[2020-09-09 16:30] Cadair opened #243 "Add a "reviewed at version" to the affiliated package metadata table"

[2020-09-09 16:34] wtbarnes commented on #242
Should we add a reevaluation pull request template? If so this would need to provide justification for the reevaluation request and could be something like a diff between the reviewed and current state.

[2020-09-12 12:37] nabobalis commented on #237
This is broken in the sunpy repo and will be fixed by https://github.com/sunpy/sunpy/pull/4468

[2020-09-12 13:05] nabobalis commented on #242
I added a rough draft of a template in https://github.com/sunpy/sunpy.org/pull/244/files

[2020-09-15 21:46] dstansby opened #245 "Main site doesn't load source-sans font"
This has been bugging me for ages - the main site (e.g. https://sunpy.org/project/affiliated) doesn't seem to load the source-sans font, so it falls back on Helvetica, which makes it look different to the `sunpy` docs. The `.css` in the docs has
[code]
but no such line is in the main website css. To fix this I can't work out where the main website css is generated from though...

[2020-09-15 21:49] nabobalis commented on #245
It should get it from the theme.

[2020-09-15 21:58] dstansby commented on #245
Hmm, it doesn't seem to be pulling through the font import then.

[2020-09-15 22:05] nabobalis commented on #245
Either a bug in the theme or something we setup incorrectly for the website.

[2020-09-15 22:06] nabobalis commented on #245
Does it even work for the docs?

[2020-09-15 22:14] nabobalis commented on #245
Looking at the website, the resulting CSS seemed to be squashed.

[2020-09-15 22:24] dstansby commented on #245
Yeah, works fine locally for me (building using sphinx). I guess it's something netlify does to the resulting site that unintentionaly removes the font import in the css?

[2020-09-15 22:38] nabobalis commented on #245
Yeah, I can't seem to find the import in the resulting CSS.

[2020-09-16 08:49] nabobalis commented on #245
Maybe if we can turn off asset optimization on the deploy side @Cadair

[2020-09-26 11:32] Cadair commented on #245
I think I have fixed this can you check?

[2020-09-26 11:33] nabobalis commented on #245
Works for me.

[2020-09-26 11:33] #245 closed

[2020-09-26 12:54] #243 closed

[2020-09-26 14:22] dstansby commented on #245
🎉 amazing, thanks!

[2020-09-26 19:05] wtbarnes opened #247 "Double check "version reviewed" for affiliated packages is correct"
#244 added the "version reviewed" category to the affiliated packages template category. In the case of aiapy, the listed version is actually not correct as it was reviewed at v0.1 and not v0.2. The current version is v0.2. We should double check to make sure that the listed versions are those that the packages were actually reviewed at.

[2020-09-28 10:53] nabobalis commented on #247
I took the lastest version I could find on the repo. Only aiapy has had a recent release so I would expect that to be the only one that needs changing.

[2020-09-28 14:58] #247 closed

[2020-09-30 12:46] Cadair opened #251 "Use the new frontmatter support in ablog and document using MyST for blog posts"
https://github.com/sunpy/ablog/pull/69 and #250 etc

[2020-09-30 12:48] Cadair commented on #251
If we do this we should also add a markdown blog post test file to ablog

[2020-09-30 12:51] kakirastern commented on #251
Let me do that

[2020-09-30 16:13] kakirastern commented on #251
This issue makes me think of a old-school RPG game where I am led through a maze, like **Dungeons & Dragons** on some good-old Nintendo console... (No direct reference to **NDCube** has been made in the process.)

Am going to open a PR in https://github.com/sunpy/ablog soon.

[2020-09-30 16:42] kakirastern commented on #251
I reckon I am supposed to make a PR here, am on it now.

[2020-09-30 16:47] kakirastern commented on #251
While I am at it I should update the `README.md` doc as well...

[2020-10-10 13:01] #251 closed

[2020-10-12 19:44] wtbarnes opened #256 "Intersphinx mapping is broken for notebook blog posts"
The posts written as Jupyter notebooks (e.g. [modeling coronal loops](https://sunpy.org/posts/2018/2018-07-21-coronal-loop-coordinates)) do not respect links to the docs via intersphinx mapping. Posts written as normal reStructured text don't seem to have this issue.

I think this has something to do with how nbsphinx converts the markdown in the cells to reST. This may possibly be related to spat

[2020-10-12 22:01] Cadair commented on #256
:sob:

[2020-10-12 22:02] nabobalis commented on #256
We aren't fixing that tho? Should we just add a comment to the readme and close this?

[2020-10-12 23:05] wtbarnes commented on #256
🤷‍♂️🤷‍♂️🤷‍♂️ Maybe? If there is some sort of workaround, we should use that though.

I don't know how I didn't notice this before.

[2020-10-13 07:13] nabobalis commented on #256
If there is a workaround lets do it.

[2020-10-13 13:02] Cadair commented on #256
Would MyST fix this?

[2020-10-23 18:05] mbobra opened #257 "Add citation info for affiliated packages"
Perhaps we can improve the [affiliated packages page](https://sunpy.org/project/affiliated) to include links to citation information (e.g. CITATION file or published paper).

[2021-01-12 11:50] Cadair opened #259 "CoC page has no sidebar"
Is this an issue? it feels weird.

[2021-01-12 12:21] nabobalis commented on #259
We should add it.

[2021-01-12 15:22] #259 closed

[2021-01-13 16:00] wtbarnes opened #261 "Add sunkit-image to the dropdown menu"
`sunkit-image` is currently missing from the docs dropdown menu. We should add it.

[2021-04-01 10:15] ebuchlin opened #264 "Install link broken on sunpy home page"
### Description

On the [sunpy home page](https://sunpy.org/), "Install SunPy" points to https://docs.sunpy.org/en/stable/guide/installation/index.html (Error 404) while the sunpy/sunpy installation instructions are at https://docs.sunpy.org/en/stable/guide/installation.html .

[2021-04-01 10:17] nabobalis commented on #264
Thanks for the report, I will fix this now.

[2021-04-01 10:24] #264 closed

[2021-06-28 13:31] dstansby opened #274 "Improvements to the Affiliated package page"
I went to https://sunpy.org/project/affiliated.html# looking for how to apply for a package to be affiliated, and there is no info at the top. There is info further down, but it was a bit hard for me to find and not obvious so I propose:

- Splitting the page into two (a list of affiliated packages, and applying to become affiliated)
- Putting a link to the second page at the top of the first

[2021-06-28 13:36] dstansby opened #273 "`sunpy-soar` affliated package application"
## Package Details

- Package name: `sunpy-soar`
- Maintainer(s): David Stansby
- Repository: https://github.com/dstansby/sunpy-soar
- Documentation link: https://github.com/dstansby/sunpy-soar/blob/main/README.rst
- PyPI link (if applicable): https://pypi.org/project/sunpy-soar/
- Continuous integration link(s): https://github.com/dstansby/sunpy-soar/actions/workflows/python-test.yml
- Link to Co

[2021-06-28 15:18] Cadair commented on #274
Sounds good.

[2021-06-30 15:56] nabobalis commented on #274
Other improvements to make/look into:

Explain the benefits more.
Add a list of software that aren't affiliated packages but with the aim of improving discoverability. Maybe another page.
Consider splitting up the page into two: List of current AFs and the review page.
Finish off re-review template.

[2021-07-09 12:46] wtbarnes commented on #274
It would also be great to add some info about how to package/release an affiliated package, e.g. like https://packaging-guide.openastronomy.org/en/latest/index.html. It might even be nice to have a sunpy-specific version of that page...

[2021-07-12 14:13] dstansby opened #277 "Add links to discourse on the website"
We should link to the discourse (https://community.openastronomy.org) as the recommended way of asking questions in these places (feel free to add to the list, or leave a comment with more):

- https://sunpy.org/help

[2021-07-13 12:56] nabobalis commented on #277
Just need to update the submodule now. Wish there was a way to do that through the website.

[2021-11-05 03:29] #277 closed

[2021-11-05 03:30] #224 closed

[2022-01-05 18:26] #226 closed

[2022-01-07 16:05] wtbarnes opened #285 "Binder links at top of notebook posts are wrong"
The binder links at the top of notebook posts are dead. It looks like this is due to the name of our main branch being "main" instead of "master".  This needs to be configured somewhere in nbsphinx: https://nbsphinx.readthedocs.io/en/0.8.8/

[2022-01-07 16:33] #285 closed

[2022-04-27 21:21] nabobalis opened #294 "Add previous meeting notes to project/meetings page"
Now we have a dedicated page for meetings, we should add in a nice format, the meeting notes from the 2020, 2021 meetings or at least the direct notes link

[2022-04-27 21:47] #242 closed

[2022-05-26 17:17] #294 closed

[2022-06-13 22:30] nabobalis opened #302 "Affiliated Package Application for roentgen"
## Package Details

- Package name: roentgen
- Maintainer(s): Steven Christe, Shane Maloney
- Repository: https://github.com/ehsteve/roentgen
- Documentation link: https://roentgen.readthedocs.io
- PyPI link (if applicable): https://pypi.org/project/roentgen/
- Continuous integration link(s): https://github.com/ehsteve/roentgen/actions
- Link to Code of Conduct or page describing adopted Code of C

[2022-06-13 22:31] nabobalis commented on #302
For @ehsteve, @samaloney and @DanRyanIrish attention.

[2022-06-15 14:11] ehsteve commented on #302
Thank you @nabobalis!

[2022-06-21 11:52] ehsteve commented on #302
This package is currently used by the Solar Orbiter STIX instrument and will be used by the smallsat mission called PADRE led by Berkeley. It contains functionality which is required for any X-ray mission.

[2022-06-23 00:07] wtbarnes commented on #302
# Review of `roentgen` package

I reviewed the development version of this package on the main branch of the GitHub repository at [this commit](https://github.com/ehsteve/roentgen/tree/743e3923bccb6755a088ecc0ea23c3c88df40065).

* Functionality: ![img](https://img.shields.io/badge/Functionality-Specialized_Package-brightgreen.svg)
  This package is very useful to anyone wanting to analyze the inte

[2022-06-24 17:24] ehsteve commented on #302
@wtbarnes thank you so much for the review! Those are all good points. I'm willing to fix them now if that would help.

[2022-06-24 18:55] Cadair commented on #302
You are encouraged to respond to the review :grinning:

[2022-06-24 21:20] wtbarnes commented on #302
yes please do!

[2022-06-26 22:54] ehsteve commented on #302
Working on updates in this [PR](https://github.com/ehsteve/roentgen/pull/35). @samaloney would you be willing to review it and/or contribute to it?

[2022-06-28 08:09] samaloney commented on #302
For sure

[2022-06-30 16:51] wtbarnes commented on #273
@hayesla would you be willing to provide a review for this?

[2022-07-01 09:17] hayesla commented on #273
Yes I can do this! I'll get on it next week

[2022-07-27 18:14] wtbarnes opened #309 "Add "Road Map discussion" to 2022 Coordination Meeting Agenda"
### Description

We need to add a discussion of the project roadmap to the agenda, either for Tuesday or Thursday afternoon in the last slot. In this discussion, we should hammer out what the project roadmap should be as well as take stock of what the current direction of the project is.

[2022-07-27 18:18] nabobalis commented on #309
Previous attempts: https://github.com/sunpy/roadmap

[2022-07-28 14:40] wtbarnes opened #310 "Coordination meeting schedule should be in .5 or 1 hour blocks, not .75"
### Description

Currently, everything is scheduled in 45 minute blocks which doesn't make any sense and makes all of time boundaries between sessions on the 15th and 45th minute.

[2022-07-28 14:50] nabobalis commented on #310
:( poor 0.75 no one likes it.

[2022-08-03 16:52] nabobalis commented on #310
Call we decided on 30 minute blocks.

[2022-08-03 22:51] #310 closed

[2022-08-03 22:51] #309 closed

[2022-08-19 14:50] wtbarnes opened #315 "Add link to YouTube stream for 2022 coordination meeting"

[2022-08-19 14:51] wtbarnes opened #316 "Add link to coordination meeting chat to 2022 meeting page"
https://matrix.to/#/#sunpycoordinationmeeting:openastronomy.org

[2022-08-19 17:31] #315 closed

[2022-08-19 17:31] #316 closed

[2022-08-22 09:07] dstansby opened #319 "Remove `ablog` from documentaiton dropdown"
Since the target audience of `sunpy.org` is people doing solar physics, I think we should remove `ablog` from the dropdown menu under "Documentation" - `ablog` is not a package for doing solar physics.

[2022-08-22 09:11] nabobalis commented on #319
`ablog` is a package for telling people you do solar physics.

[2022-08-23 08:07] dstansby opened #365 "Add citation narrative to the sunpy core docs"
### Provide a general description of the issue or problem.

As part of the effort to make sunpy.org tailored towards the project as opposed to the core package, we should move https://sunpy.org/about#acknowledging-or-citing-sunpy to the sunpy core documentation as it is specifically about citing sunpy core. The source file lives here: https://github.com/sunpy/sunpy/blob/main/sunpy/CITATION.rst

We

[2022-08-23 10:15] hayesla opened #322 "Add link to chat and discourse on the landing pager"
It would be nice and more visible to users to add the links to the matrix chat and the discourse page on the sunpy.org landing page.

Also maybe with some nice graphics

[2022-08-25 10:45] jmbhughes opened #325 "Correct small typos on site"
### Description

I spotted a few small typos on the website. I'll add a pull request in just a few moments to correct the ones I saw.

[2022-08-25 10:50] nabobalis commented on #325
Closed by #326

[2022-08-25 10:50] #325 closed

[2022-08-29 12:10] hayesla opened #328 "Start SunPy nuggets?"
### Description
We have discussed this before but I couldn't find an issue open anywhere to track it.

Should we start the idea of SunPy nuggets soon? I think it would be an excellent place for people to showcase what they've been using sunpy for (e.g. a plot or two) and a link to their paper or a description of work in progress, or if they're using it for an operational/planning perspective.

If

[2022-08-29 12:11] hayesla commented on #328
what are people's thoughts? We could solicit a few at the start and then advertise and hope that it will self-fulfil 🚀

[2022-08-29 12:50] nabobalis commented on #328
I am very much in favour.

I was thinking the blog with a nuggets label/category would be the easiest to setup.

[2022-08-29 15:42] wtbarnes opened #329 "Blog post summarizing the 2022 coordination meeting"
We took a copious amount of notes during the coordination meeting last week in Dublin. They've now been copied into the [wiki](https://github.com/sunpy/sunpy/wiki/Coordination-Meeting-2022-Notes). We (and by that I mean mostly me) should write a blog post that summarizes what we talked about and the important points that came out of the meeting. This is both for the benefit of the wider community

[2022-08-31 16:46] dstansby commented on #239
@Raahul-Singh sorry this has not gone anywhere - are you still interested in applying for affiliated package status review? If not we can close this issue, if so we will try and find a reviewer as soon as possible.

[2022-09-02 12:51] dstansby opened #331 "Error trying to build locally"
I'm trying to build the website locally and I'm getting the following error. Not really sure where to start debugging this - `blog.rst` where I would expect blog posts to be listed is empty.

[code]

[2022-09-02 13:54] #319 closed

[2022-09-02 14:14] dstansby commented on #331
Got past these (see https://github.com/sunpy/sunpy.org/pull/332), but now getting
[code]

[2022-09-07 08:39] nabobalis opened #335 "sunkit-instruments affiliated package"
## Package Details

- Package name: sunkit-instruments
- Maintainer(s): The SunPy Project
- Repository: https://github.com/sunpy/sunkit-instruments
- Documentation link: https://docs.sunpy.org/projects/sunkit-instruments/
- PyPI link (if applicable): https://pypi.org/project/sunkit-instruments/
- Continuous integration link(s): https://dev.azure.com/sunpy/sunkit-instruments/_build?definitionId=15&

[2022-09-07 08:45] nabobalis commented on #227
I don't think we will change this for now. We could change the theme but that's a separate topic.

[2022-09-07 08:45] #227 closed

[2022-09-07 09:05] nabobalis commented on #331
Looks Like an ablog issue, what version are you using?

[2022-09-07 09:11] dstansby commented on #331
I got past (and think I fixed in PRs?) previous errors in this post, now I'm getting
[code]

ablog 0.9.5 installed from conda

[2022-09-07 09:14] Cadair commented on #331
Should we add a tox config for this repo?!

[2022-09-07 09:16] Cadair commented on #335
@dstansby You up for doing this review?

[2022-09-07 09:17] nabobalis commented on #331
Update ablog

[2022-09-07 09:17] nabobalis commented on #331
Can do

[2022-09-07 09:24] Cadair commented on #273
@hayesla ping ;)

[2022-09-07 09:25] Cadair commented on #302
@ehsteve let us know when you would like this re-reviewed.

[2022-09-07 09:25] nabobalis commented on #273
Do we want to do this or just merge it into core for 4.1?

[2022-09-07 09:27] Cadair commented on #273
Let's do this, and we can merge it into core when it and we are ready.

[2022-09-07 10:01] hayesla commented on #273
yes sorry I will get on this! super hectic until the solar orbiter meeting next week, but I'll try fit it in

[2022-09-07 16:13] Raahul-Singh commented on #239
Hey @dstansby !
I don't think the package as it is right now has any users.
With that in mind, I think we can close this issue. However, if there is a use case for ML based packages in sunpy or open astronomy at large, I'd love to overhaul pythia to support them!

[2022-09-07 17:02] #239 closed

[2022-09-09 16:26] dstansby commented on #335
* Functionality           : General Package
* Integration             : Partially Integrated
* Documentation           : Good
* Testing                 : Excellent
* Duplication             : None
* Community               : Needs Work
* Development Status      : Low Activity

## Notes
### Integration
I've opened a bunch of issues on the repostory. Most of the integration improvements that could b

[2022-09-12 13:20] Cadair commented on #335
I don't know how we make the fact clear that all sunpy maintained packages follow the sunpy CoC. The CoC is linked from the sidebar in the GH repo (as it inherits from the org).

[2022-09-12 13:23] dstansby commented on #335
I've just spotted that, but given I was actively looking for a CoC and couldn't find one I think it needs to be more obvious. Places I looked were:
- A file in the repository (code_of_conduct.rst or similar)
- `README.md`
- The documentaiton landing page

[2022-09-12 13:28] Cadair commented on #335
:+1: This probably applies to more than just sunkit-instruments.

The file in the repo is a big :-1: from me, we do not want to be maintaining more than one copy of the CoC text. The canonical version is here: https://github.com/sunpy/.github/blob/main/CODE_OF_CONDUCT.md which is built into the website here: https://sunpy.org/coc we should link to that in the readme and docs for all packages of ou

[2022-09-12 13:31] Cadair commented on #335
Actually I am also :-1:  on just throwing it in the docs given we already have it in the nav bar. We should probably add it to the theme in the footer as we have discussed elsewhere.

[2022-09-12 13:33] Cadair commented on #335
I don't think we have really documented how exactly we handle responses to reviews, but given https://github.com/sunpy/sunkit-instruments/pull/78 and the fact we do actually have a CoC, will you re-review?

[2022-09-12 13:36] Cadair opened #337 "Agree on and document in the affiliated package review section how we handle responses to reviewers"
This has come up in #302 and #335 that the reviewer makes a suggestion, it generates discussion and/or fixes and then there's no clear path forward. We should fix that.

[2022-09-12 13:38] dstansby commented on #337
👍 to giving the applicant one chance to respond to the review. I think this should be time limited (two weeks?) so the scope is limited to making quick and minor fixes.

[2022-09-12 13:41] Cadair commented on #337
Hmm, I am not sure if having someone come back month(s) later and having to open a new issue or just resurrecting the old one is better?

[2022-09-21 17:16] ehsteve opened #339 "Provide a list of papers that make use of sunpy"
### Description
It would be useful to provide a list of papers that make use of sunpy for their analysis so that we can point people to them and to highlight what sunpy has been used for.

It may be as easy to provide a link to the papers that have cited the sunpy paper which can be found [here](https://app.dimensions.ai/discover/publication?or_subset_publication_citations=pub.1125305109).

We cou

[2022-09-28 23:59] wtbarnes commented on #335
@dstansby Given the responses above, are you willing to re-review or does your current review still stand?

[2022-09-29 00:00] wtbarnes commented on #273
@hayesla you still up for reviewing?

[2022-09-29 00:02] wtbarnes commented on #302
@ehsteve do you have timeline for wanting this re-reviewed? It looks like your PR to fix some the issues I raised is mostly done.

[2022-09-29 00:03] wtbarnes commented on #337
Could we have something like a stale bot that auto closes applications that have had no activity after a month?

[2022-09-29 07:33] dstansby commented on #335
I forgot to put the verson reviewed in my original review, but I reviewed v0.3.0. It seems like there hasn't been an updated release with any changes, but if a new release is made I would be happy to re-review.

[2022-09-29 08:45] Cadair commented on #337
This comment from @dstansby [here](https://github.com/sunpy/sunpy.org/issues/335#issuecomment-1261883148)

raises and interesting question, which is do we require a new release before a re-review? We put the version reviewed on the review, so I can certainly see the logic of having that as an "epoch", but on the other hand many things on the review list don't actually require a release (for exampl

[2022-09-29 08:57] dstansby commented on #337
I think we definitely should require a re-release, since there's no point fixing and improving stuff if it's not in a released version users can easily get at. Reviewing a release isn't just reviewing the package on PyPi, it's reviewing the git repository at that tag, so having the (e.g.) CoC present in the tag that's reviewed is important.

[2022-09-29 09:13] Cadair commented on #337
Mostly playing devils advocate here but looking over the review criteria:

* Functionality - release needed
* Integration - release needed
* Documentation - mixed, but probably should have a release
* Testing - not release dependent
* Duplication - release
* Community - not release dependent
* Development Status - regular releases are part of this criteria so discount.

A lot of things could use a

[2022-09-29 11:38] dstansby commented on #337
I disagree, and think everything that requires a change in the version control should require a new release. This is mainly because a package is not just the code - it's the code together with the docs and testing providing context. To a user code with no tests is different to code with comprehensive tests, even if functionally it does the same thing.

[2022-10-04 09:16] hayesla commented on #273
* Functionality           : General Package
* Integration             : Well integrated
* Documentation           : Some/Little
   - on the documentation side of things, it could be nice to include more docs, examples
* Testing                 :  Good
* Duplication             : None
  - (I'm aware that some of the data is available through the VSO (e.g. for some EUI but there is no duplication fo

[2022-10-04 09:18] hayesla commented on #273
sorry for the delay in reviewing this! All looks great from my end. Is there anything in particular I need to do?
Also in regards to the `Documentation` criteria - I recognise that sunny-soar does not need extensive documentation as it extends the Fido functionality, but some higher level docs about the SOAR or how its currently working (which would help with oncoming future developers) would be n

[2022-10-04 13:56] wtbarnes commented on #273
Thanks! This is great. Would you mind doing two things:

1. Say which version of the code you reviewed and
2. open an issue regarding your note about the docs

Given this very positive review, I am going to accept `sunpy-soar` as a SunPy affiliated package and ask @dstansby to open up a PR to add `sunpy-soar` to the website.

[2022-10-04 16:03] dstansby commented on #273
@wtbarnes I can open a PR. I can also release a new version at the commit that @hayesla reviewed if that's helpful so there's a version number and not a commit hash on the affiliated package list?

[2022-10-04 16:07] wtbarnes commented on #273
If you don't mind doing a release, that would be great!

[2022-10-05 13:40] dstansby commented on #273
Made a new release, and opened a PR to add to the website. Thanks @hayesla for taking the time to review!

[2022-10-05 13:48] ayshih commented on #273
Sorry for the lateness of this question, but has there been discussion about the naming convention?  Why is this `sunpy-soar` and not `sunkit-soar`?

[2022-10-05 14:00] dstansby commented on #273
🤷 because that's what I decided to call it

[2022-10-05 14:31] #273 closed

[2022-10-07 14:50] ehsteve commented on #302
@wtbarnes I am doing a few more things to make things better. I could not help myself! Give me another month or so. Hope that is okay.

[2022-10-12 16:32] Cadair commented on #335
[v0.3.1](https://pypi.org/project/sunkit-instruments/0.3.1/) is now released if you could re-review that.

[2022-10-12 16:37] dstansby commented on #335
- Functionality : General Package
- Integration : Partially Integrated
- Documentation : Good
- Testing : Excellent
- Duplication : None
- Community : Good
- Development Status : Low Activity

Version reviewed: v0.3.1

[2022-10-18 17:47] wtbarnes commented on #339
I would suggest using [this](https://github.com/andycasey/ads) to do the automatic scraping (i.e. find papers that cite the v1.0 and/or zenodo releases) and then also allow for adding papers manually to that list (in case there are some that are missed by the automatic scraping). Presumably this could just be added as a step when building the website?